@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: "Poppins";
  font-size: 20px;
  color: #8F95A5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.--container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 7px;
}
.header__logo:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}
.header__menu {
  color: #263238;
  font-size: 24px;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 55px;
  border: 2px solid #263238;
  border-radius: 5px;
  color: #000000;
  font-size: 24px;
  line-height: 1.5;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__button:hover {
  background-color: #263238;
  color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px 32px;
}
.menu__item {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__item:hover {
  text-decoration: underline;
  color: #000000;
}
@media (max-width: 992px) {
  .header__logo {
    margin-top: 9px;
  }
  .header__menu {
    font-size: 16px;
    margin-top: 9px;
  }
  .header__row {
    min-height: 100px;
  }
  .header__button {
    font-size: 18px;
    min-height: 50px;
    padding: 5px 40px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    font-size: 16px;
    margin-top: 9px;
    display: none;
    background: #F5F5F5;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 180px 10% 0 0;
    font-size: 36px;
  }
  .header__menu.-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__button {
    font-size: 18px;
    min-height: 30px;
    padding: 5px 5%;
    z-index: 5;
    right: 70px;
    position: absolute;
  }
  .header__burger {
    position: relative;
    width: 30px;
    height: 17px;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #39515E;
    position: absolute;
  }
  .header__burger::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__burger::before {
    top: 0px;
  }
  .header__burger span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 21px;
    height: 3px;
    background: #39515E;
    border-radius: 1px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item {
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  .header__menu {
    padding-top: 140px;
  }
  .header__button {
    margin-top: 100px;
    right: 50px;
    display: none;
  }
  .header__button.-active {
    display: block;
  }
  .menu__list {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .header__burger {
    width: 34px;
    height: 19px;
  }
}